* {
  box-sizing: border-box;
}
.parenthhealthbar {
  position: relative;
  height: 30px;
  width: 100%;
}

.healthbar {
  background-color: yellow;
  height: 30px;
}
#playerHealth {
  position: absolute;
  background: blue;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
#enemyHealth {
  position: absolute;
  background: blue;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.container {
  position: relative;
  display: inline-block;
}
.UI {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}
